@font-face {
    font-family: 'ravi';
    src: url(../Font/Ravi-Regular.ttf);
}
@font-face {
    font-family: 'shabnam';
    src: url(../Font/Shabnam.ttf);
}
@font-face {
    font-family: 'afsoon';
    src: url(../Font/Afsoon_MRT.ttf);
}
@font-face {
    font-family: 'unique';
    src: url(../Font/UniqueBold_MRT.ttf);
}
@font-face {
    font-family: 'zar';
    src: url(../Font/Zar.ttf);
}
@font-face {
    font-family: 'tabassom';
    src: url(../Font/Tabassom.ttf);
}
@font-face{
    font-family: 'argue-black';
    src:url('../Font/110_Besmellah_2\(MRT\).ttf');
}