.popup { 
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed; /* مهم! پاپ‌آپ را در جای خود ثابت نگه می‌دارد */
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.popup-content {
  background: white;
  width: 45%;
  height: 55%;
  right: 400px;
  top: 180px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; /* مهم! جلوگیری از تغییر ناگهانی مکان */
}
.popupinside{
  display: flex;
  background-color: #f9f9f9;
  height: 350px;
  flex-direction: column;
  padding-top: 18px;
  border-radius: 20px;
  justify-content: center;
  margin-top: 10px;
}
.call_text1{
  display: flex;
  justify-content: center;
}
.call_text2{
  display: flex;
  justify-content: center;
}
.realtxt{
  display: flex;
  justify-content: center;
}
.pic_realstate{
  padding-right: 38%;
}
.close{
  position:absolute;
  top: 20px;
  right: 92%;
  font-size: 30px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.close:hover{
  background-color: black;
  color: white;
}
.body{
  background-color: white;
}
.header{
  padding-top: 1%;
}
.dropdown{
  position: relative;
  display: inline;
}
.dropdownbtn{
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 10px;
  cursor: pointer;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #aaa;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.dropdown-content label{
  display: block;
  margin-bottom: 5px;
}
.buttons{
  margin-top: 10px;
}
.select-btn, .delete-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.arrow{
  transition: transform 3.0ms ease-in-out;
}
.rotate{
  transform: rotate(180deg);
}
.flowerheader{
  display: flex;
  justify-content: center;
  width: 90%;
  padding-right: 9%;
}
.header__nav{
   display: flex;
   background-color: #f9f9f9;
   gap: 20rem;
   padding: 4px;
   width: 80%;
   border-radius: 0.4rem;
}

.nav__options{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  white-space: nowrap;
  gap: 1rem;
}
.nav__siningout{
  display: flex;
  align-items: center;
  gap:0.2rem;
}
.nav__btn{
  border: none;
  background-color: #f9f9f9;
  padding: 0.5rem;
  padding-inline: 12%;
  font-size: 1.1rem;
}
.nav__btn:hover{
  background-color: grey;
  color: #f9f9f9;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-inline: 12%;
}

.nav__btn:active{
  background-color: black;
  color: #f9f9f9;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-inline: 12%;
  cursor: pointer;
}
.nav__btn1{
  border-radius: 0.4rem;
  border-color: red;
  width: 5rem;
  height: 2.3rem;
  color: red;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.1rem;
}
.container{
  padding-top: 8%;
  width: 62%;
  padding-inline: 17%;
}
.container__upsection{
  display: flex;
  align-items: center;
  gap: 17%;
  white-space: nowrap;
}
.kind__area{
  padding: 0.4%;
  border-radius: 0.2rem;
  padding-block: 0.3rem;
  padding-inline: 1.3rem; 
  border: 2px solid grey;
  font-size: 0.8rem;
  font-weight: bold;
}
.kind__filter{
  padding-block: 0.3rem;
  padding-inline: 1.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: 2px solid #aaa;
  border-radius: 0.2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../Images/filter-search.svg') no-repeat center right;
  background-size: 1.1rem;
}
.upsection__search{
  display: flex;
  justify-content: center;
  width: 24%;
}
.search__text{
  font-weight: bold;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  padding-left: 11rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: 2px solid grey;
  border-right: none !important; 
}
.search__icon{
  padding-right: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-left: none !important;
  border: 2px solid grey;
  background-color: white;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.title__found{
  color: red;
}
.title__btn{
padding: 0.6rem;
padding-inline: 1.4rem;
background: url(../Images/sort.svg) no-repeat center right;
border: 0.1rem solid grey;
border-radius: 5px;
}
.rightside__title{
  display: flex;
  align-items: center;
  gap: 58%;
  width:565px;
}
.pics__pic1{
 background-color: #f9f9f9;
 width: 34%;
 overflow: hidden;
 border-radius: 1rem; 
}
.pic1__combin{
  display: flex;
  align-items: center;
  height: 1.6rem;
  width: 99%;
  gap: 40%;
  padding-right: 12px;
  font-size: 14px;
  color: #aaa;
}
.pic1__text{
  font-size: 14px;
  padding-right: 12px;
  font-weight: bold;
  }
.pic1__text1{
  font-size: 14px;
  padding-right: 12px;
}