.popup { 
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed; /* مهم! پاپ‌آپ را در جای خود ثابت نگه می‌دارد */
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.popup-content {
  background: white;
  width: 45%;
  height: 55%;
  right: 400px;
  top: 180px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; /* مهم! جلوگیری از تغییر ناگهانی مکان */
}
.popupinside{
  display: flex;
  background-color: #f9f9f9;
  height: 350px;
  flex-direction: column;
  padding-top: 18px;
  border-radius: 20px;
  justify-content: center;
  margin-top: 10px;
}
.call_text1{
  display: flex;
  justify-content: center;
}
.call_text2{
  display: flex;
  justify-content: center;
}
.realtxt{
  display: flex;
  justify-content: center;
}
.pic_realstate{
  padding-right: 38%;
}
.close{
  position:absolute;
  top: 20px;
  right: 92%;
  font-size: 30px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.close:hover{
  background-color: black;
  color: white;
}
.body{
  background-color: white;
}
.header{
  padding-top: 1%;
}
.dropdown{
  position: relative;
  display: inline;
}
.dropdownbtn{
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 10px;
  cursor: pointer;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #aaa;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.dropdown-content label{
  display: block;
  margin-bottom: 5px;
}
.buttons{
  margin-top: 10px;
}
.select-btn, .delete-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.arrow{
  transition: transform 3.0ms ease-in-out;
}
.rotate{
  transform: rotate(180deg);
}
.flowerheader{
  display: flex;
  justify-content: center;
}
.header__nav{
   display: flex;
   justify-content: center;
   background-color: #f9f9f9;
   gap: 1rem;
   width: 52%;
   align-items: center;
   border-radius: 0.4rem;
}
.nav__btn{
  border: none;
  background-color: #f9f9f9;
  padding: 0.5rem;
  padding-right: 1%;
  padding-left: 1%;
}
.nav__btn:hover{
  background-color: grey;
  color: #f9f9f9;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-right: 1%;
  padding-left: 1%;
}
.nav__btn:active{
  background-color: black;
  color: #f9f9f9;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-right: 1%;
  padding-left: 1%;
  cursor: pointer;
}
.nav__btn1{
  border-radius: 0.4rem;
  border-color: red;
  padding: 0.4rem;
  padding-right: 1%;
  padding-left:1%;
  color: red;
  cursor: pointer;
}